html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #030027;
    background-color: #C9DDFF;
}

h1,
h2 {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    color: #A3F7B5;
}

h1 {
    font-size: 30px;
    background-color: #0C7C59;
}

h2 {
    font-size: 25px;
    background-color: #764248;
}

p,
li {
    font-size: 17px;
}

.recipes-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.recipe-link {
    color: #C9DDFF;
    background-color: #764248;
    padding: 10px;
    display: block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

img {
    display: block;
    width: 480px;
    margin: auto;
}